body {
  font-size: 1.25em;
  font-weight: 400;
  line-height: 1.45;
  color: #666666;
  text-align: center;
  padding: 40px;
  background-color: #ffffff;
}

p {margin-bottom: 1.3em;}

h1, h2, h3, h4 {
  margin: 1.414em 0 0.5em;
  font-weight: inherit;
  line-height: 1.2;
}

h1 {
  margin-top: 0;
  font-size: 3.157em;
}

h2 {font-size: 2.369em;}

h3 {font-size: 1.777em;}

h4 {font-size: 1.333em;}

small, .font_small {font-size: 0.75em;}

ul {
  list-style: none;
}

.site {
  width: 80%;
  margin: auto;
}

#workers {
  margin: 40px;
}

.pair {
  box-sizing: border-box;
  border-radius: 1px;
  background-color: #ffffff;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.12), 0 2px 2px 0 rgba(0, 0, 0, 0.24);
  display: inline-block;
  min-width: 360px;
  padding: 20px 20px 40px;
  margin: 20px;
}

#submission {
  border-radius: 2px;
  position: relative;
  vertical-align: top;
  width: 40%;
  height: 60px;
  padding: 0;
  font-size: 22px;
  background-color: #f96302;
  color: #ffffff;
  border: 0;
  cursor: pointer;
}
#submission:active {
  top: 1px;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

#submission:focus {
  outline:0;
}

input[type="checkbox"] {
  border-radius: 2px;
  display:none;
}

input[type="checkbox"].strong + label {
  border: 2px #000 dotted;
}

input[type="checkbox"] + label {
  padding: 4px;
  cursor: hand;
  background-color: #dddddd;
  color: #666666;
}
input[type="checkbox"]:checked + label {
  background-color: #f96302;
  color: #ffffff;
}

.hidden {
  opacity: 0;
}

.visible {
  opacity: 1;
  -webkit-transition: opacity 1s ease-out .2s;
  -moz-transition: opacity 1s ease-out .2s;
  -o-transition: opacity 1s ease-out .2s;
  transition: opacity 1s ease-out .2s;
}
